# Database Configuration
# Example for PostgreSQL: postgresql://user:password@localhost:5432/dbname?schema=public
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# Authentication
# At least 32 characters for NUXT_SESSION_PASSWORD
NUXT_SESSION_PASSWORD=""
ADMIN_PASSWORD=""

# Email Configuration
EMAIL_HOST=""
EMAIL_PORT="465"
EMAIL_USER=""
EMAIL_PASSWORD=""

# External Services
FACEBOOK_RSS=""
