# Database Configuration
# For SQLite: file:./dev.db
DATABASE_URL="file:./dev.db"

# Authentication
# At least 32 characters for NUXT_SESSION_PASSWORD
NUXT_SESSION_PASSWORD=""
PASSWORD_HASH=""

# Email Configuration
EMAIL_HOST=""
EMAIL_PORT="465"
EMAIL_USER=""
EMAIL_PASSWORD=""

# External Services
FACEBOOK_RSS=""
